<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<trkpt lat="<#= lat #>" lon="<#= lon #>">
<ele>0</ele>
<time><#= timestamp #></time>
</trkpt>